@model IEnumerable<GroupsOfServices>

@{
    ViewData["Title"] = "Groups of services";
}

<div>
    @foreach (var item in Model)
    {
        <a asp-controller="Services" asp-action="Index" asp-route-id="@item.Id">@item.Name</a>

        @*foreach (var service in item.Services_Groups)
            {
                <p>@service.Service.Name</p>
            }*@


            @*List<Service_Group> services = ViewBag.Services;
            services = services.Where(s => s.GroupId == item.Id).ToList();

            foreach (Service_Group service in services)
            {
                <p>@service.Service.Name</p>
            }*@
    }
</div>