@model LoginVM

@if (TempData["Error"] != null)
{
    <div>
        <p class="text-danger">Sorry! - @TempData["Error"]</p>
    </div>
}

<form asp-action="Login">
    <div>
        <input name="returnUrl" id="pageUrl" hidden />
    </div>
    <div>
        <label asp-for="EmailAddress"></label>
        <input asp-for="EmailAddress" />
        <span asp-validation-for="EmailAddress"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input asp-action="Login" value="Log in" type="submit" />
    </div>
</form>

@section Scripts{
    <script>
        let url = window.location.href.split('ReturnUrl=')[1].replaceAll('%2F', '/');
        url = '~' + url;
        document.getElementById('pageUrl').value = url;
    </script>
}