@inject UserManager<Client> UserManager;

@if (!User.Identity.IsAuthenticated)
{
        <a asp-controller="Account" asp-action="Login" class="login_btn">Log in</a>
    <a asp-controller="Account" asp-action="Register">Register</a>
}
else
{
    <div class="text-center">
        @UserManager.GetUserName(User)
    </div>
    <div>
        <form asp-controller="Account" asp-action="Logout">
            <button class="btn btn-outline-danger my-2 my-am-0">
                <i class="bi bi-box-arrow-in-right"></i> Log out
            </button>
        </form>
    </div>
}

