@namespace agSalon.Data.Static

@inject AppDbContext _context

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - agSalon</title>

	@*<link rel="stylesheet" href="~/css/site.css" />*@
	<link rel="stylesheet" href="~/css/style.css" />
	@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
	<div class="wrapper">

		<header class="header">
			<nav class="header__container">

				<a class="header__logo" asp-controller="Home" asp-action="Index">agSalon</a>
				@*<button class="">
				<span class=""></span>
				</button>*@
				<div class="header__menu">
					<nav class="menu__body">
						<ul class="menu__list">
							@*<li class="menu__link">
							<a class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
							</li>*@

							<li class="menu__link">
								<div class="menu__link-name">
									<a class="" asp-area="" asp-controller="Groups" asp-action="Index">
										Groups
									</a>
									<span class="menu__arrow"></span>
								</div>

								<ul class="menu__sub-list">
									@{
										var groups = _context.Groups.ToList();
										foreach (var item in groups)
										{
											<li class="menu__sub-link"><a asp-controller="Services" asp-action="Index" asp-route-groupId="@item.Id">@item.Name</a></li>
										}
									}
								</ul>
							</li>

							<li class="menu__link">
								<a class="" asp-area="" asp-controller="Attendances" asp-action="NewAttendance">New appointment</a>
							</li>

							<li class="menu__link">
								<div class="menu__link-name">
									<a class="">
										<i class="bi bi-gear"></i>
										Attendances
									</a>
									<span class="menu__arrow"></span>
								</div>
								<ul class="menu__sub-list">
									<li class="menu__sub-link"><a asp-controller="Attendances" asp-action="Index"><i class="bi bi-person-square"></i> Not rendered</a></li>
									<li class="menu__sub-link"><a asp-controller="Attendances" asp-action="History"><i class="bi bi-person-square"></i> History</a></li>
									@if (User.Identity.IsAuthenticated && (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Worker)))
									{
										<li class="menu__sub-link"><a asp-controller="Attendances" asp-action="AllAttendances"><i class="bi bi-person-square"></i> All Attendances</a></li>
									}
								</ul>

							</li>

							<li class="menu__link">
								<div class="menu__link-name">
									<a class="">
										<i class="bi bi-gear"></i> Management
									</a>
									<span class="menu__arrow"></span>
								</div>
								<ul class="menu__sub-list">
									<li class="menu__sub-link"><a class="" asp-controller="Groups" asp-action="Create"><i class="bi bi-collection"></i> New Group</a></li>
									<li class="menu__sub-link"><a class="" asp-controller="Services" asp-action="Create"><i class="bi bi-receipt"></i> New Service</a></li>
									@*<a class="dropdown-item" asp-controller="Workers" asp-action="Create"><i class="bi bi-person-square"></i> New Worker</a>*@
									@*<a class="dropdown-item" asp-controller="Clients" asp-action="Create"><i class="bi bi-person-square"></i> New Client</a>*@
									<li class="menu__sub-link"><a class="" asp-controller="Clients" asp-action="Index"><i class="bi bi-person-square"></i> Clients</a></li>
									<li class="menu__sub-link"><a class="" asp-controller="Workers" asp-action="Index"><i class="bi bi-person-square"></i> Workers</a></li>
									<li class="menu__sub-link"><a class="" asp-controller="Account" asp-action="Users"><i class="bi bi-person-square"></i> Users</a></li>

									@if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
									{
										<li class="menu__sub-link"><a class="" asp-controller="Account" asp-action="Register"><i class="bi bi-person-square"></i> New Client</a></li>
										<li class="menu__sub-link"><a class="" asp-controller="Account" asp-action="CreateWorker"><i class="bi bi-person-square"></i> New Worker</a></li>
										<li class="menu__sub-link"><a class="" asp-controller="Account" asp-action="CreateAdmin"><i class="bi bi-person-square"></i> New Admin</a></li>
									}
								</ul>
							</li>


							<partial name="_Identity.cshtml" />
							@* change personal info, user's attendances *@

						</ul>
					</nav>
				</div>

			</nav>
		</header>
		<section class="main">
			<main role="main" class="">
				@RenderBody()
			</main>
		</section>

		<footer class="footer">
			<div class="">
				&copy; 2022 - agSalon - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
			</div>
		</footer>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/main.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)	
	
	@*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
</body>
</html>
